*{margin: 0; box-sizing: border-box;}
header, nav, main, section, footer {display: block}
main{padding-left: 5px; padding-right: 5px;padding-bottom: 10px;font-size: 20px;}
/* header {margin-bottom: 10px;}
.header {background-color: rgba(128, 82, 14, 0.795);}
.nav-link{color: rgb(54, 27, 5);} */
#carouselExampleDark{height: 500px;}
.carousel-item{height: 500px;}
/* h1{margin-bottom: 200px;} */
/* .price1{padding-top: 10px;padding-bottom: 10px;} */

/* .center{text-align: center;} */
.name{text-align: center;margin: 20px 20px;}
#bron{text-align: justify;font-size: 20px;}

/* footer {background-color: rgba(128,82,14,0.795);}
.foot {text-align: center; font-size: 16px;height: 80px;padding-top: 30px;} */

